<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

  <%= require('html-loader!./templates/head.html') %>

  <script>
    function fetchJson() {
      var xhr = new XMLHttpRequest();
      // set a callback for when the json is loaded
      xhr.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) { // if json loaded successfully
          var data = JSON.parse(this.responseText);
          // do stuff with data
          document.querySelector("#apiVersion").innerText = data["apiVersion"];
          document.querySelector("#name").innerText = data["name"];
          document.querySelector("#symbol").innerText = data["symbol"];
          document.querySelector("#contractAddress").innerText = data["contractAddress"];
          document.querySelector("#decimals").innerText = data["decimals"];
          document.querySelector("#currentEthBlock").innerText = data["currentEthBlock"];
          document.querySelector("#initialSupply").innerText = data["initialSupply"];
          document.querySelector("#circulatingSupplyReadable").innerText = data["circulatingSupplyReadable"];
          document.querySelector("#tokensBurned").innerText = data["tokensBurned"];
          document.querySelector("#heapSize").innerText = data["heapSize"];
          document.querySelector("#lastHeapAddress").innerText = data["heapTopAddress"];
          document.querySelector("#lastHeapAmountReadable").innerText = data["heapTopAmountReadable"];

        }
      };
      // fetch the json
      xhr.open("GET", "http://167.71.121.133/api/shuf", true);
      xhr.send();
    }
    window.onload = function () {
      fetchJson();
    };
  </script>

</head>

<body>
  <%= require('html-loader!./templates/navbar-header.html') %>

  <div class="wrapper">
    <top class="top">
      <h1></h1>
    </top>
    <article class="box">

      <div class="fakeimg" style="height: 100%;">
        <h3>Track your Shuffle Monster Tokens</h3>
        <p align="center">
          <font size="2px" Style="font-weight: 50;">paste your wallet addresses below</font>
          <font size="2" style="color: #a8a8a8a4; font-weight: 50;"> <i>input one address per line</i></font>
          <textarea id="myTextarea" placeholder="0x69696562885eB3C9a609f957efd150DF93BA8c2e
0x3A9FfF453d50D4Ac52A6890647b823379ba36B9E
0xAb5801a7D398351b8bE11C439e05C5B3259aeC9B
0x1Db3439a222C519ab44bb1144fC28167b4Fa6EE6
0x4Cdc86fa95Ec2704f0849825f1F8b077deeD8d39" style="height: 100px">
</textarea>
        </p>
        <input type="submit" value="Get Heap Results" class="btn btn-success" onclick="myFunction()"></input>
        </p>
      </div>
    </article>
    <aside class="aside aside-1">
      <div class="fakeimg-1" style="height: 100%;">
        <h3>My Heap Spots</h3>
        <div id="mySpots">
          <div id="addy"></div>
        </div>
      </div>
    </aside>
    <aside class="aside aside-2">
      <div class="fakeimg-2" style="height: 100%;">
        <h3>My Address Balances</h3>
        <div id="myBalances"></div>
        <div id="addy2"></div>
      </div>
    </aside>

  </div>
  <div class="wrapper">
    <div class="row">
      <div class="left">

        <table align="center">

          <tr>
            <h3>Contract Details</h3>
            <td align="left">
              <font size="2">
                <p>
                  <font style="color: #ffd000;">Version:</font>
                  <span id="apiVersion">loading...</span>
                </p>
                <p>
                  <font style="color: #ffd000;">Name:</font>
                  <span id="name">loading...</span>
                </p>
                <p>
                  <font style="color: #ffd000;">Symbol:</font>
                  <span id="symbol">loading...</span>
                </p>
                <p>
                  <font style="color: #ffd000;">Contract Address:</font>
                  <span id="contractAddress">loading...</span>
                </p>
                <p>
                  <font style="color: #ffd000;">Decimals:</font>
                  <span id="decimals">loading...</span>
                </p>
                <p>
                  <font style="color: #ffd000;">Current Ethereum Block #:</font>
                  <span id="currentEthBlock">loading...</span>
                </p>
              </font>
            </td>
          </tr>
        </table>
      </div>

      <div class="right">
        <table align="center">
          <tr>
            <h3>Token Stats</h3>
            <td align="left">
              <font size="2">

                <p>
                  <font style="color: #ffd000;">Initial Supply:</font>
                  <span id="initialSupply">loading...</span>
                </p>
                <p>
                  <font style="color: #ffd000;">Current Circulating Supply:</font>
                  <span id="circulatingSupplyReadable">loading...</span>
                </p>
                <p>
                  <font style="color: #ffd000;">Token Burned:</font>
                  <span id="tokensBurned">loading...</span>
                </p>
                <p>
                  <font style="color: #ffd000;">Current Heap Size:</font>
                  <span id="heapSize">loading...</span> / 512
                </p>
                <p>
                  <font style="color: #ffd000;">Last address on the Heap:</font>
                  <span id="lastHeapAddress">loading...</span>

                </p>
                <p>
                  <font style="color: #ffd000;">Amount of tokens the last spot holds:</font> <span
                    id="lastHeapAmountReadable">loading...</span>
                </p>
              </font>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>

</body>
<footer><%= require('html-loader!./templates/footer.html') %></footer>

<%= require('html-loader!./templates/web3.html') %>

</html>