<div class="header">
  <div class="flex-container">
    <a class="logo">
            <h1>SHUF</h1>
      Stats.Shuffle.Monster
      
      <h5>Heap Tracker & Token Stats</h5>
    </a>

</div>
</div>





    <nav class="navbar navbar-expand-sm float-top">
            <div class="navbar-brand">
                <a class="navbar-brand" href="../">
                    <img height=75 src="./../assets/img/spinning-eyes.gif">
                    
                </a>
            </div>
        
            <button class="navbar-toggler justify-content-end" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><font size="5"><i" class="fa fa-arrow-alt-circle-down"></i></font></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>Docs</b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        
                            <a href="https://github.com/0xbitcoin" target="_blank">
                                &nbsp; <i class="fab fa-github"
                                    style="font-size:20px;color:#ffd000;"></i>&nbsp;&nbsp;Github
                            </a>
                            <br>
                            <a href="https://twitter.com/0xBTCFoundation" target="_blank">
                                &nbsp; <i class="fab fa-twitter"
                                    style="font-size:20px;color:#ffd000;"></i>&nbsp;&nbsp;Twitter
                            </a>
                            <br>
                            <a href="https://medium.com/0xBitcoinFoundation" target="_blank">
                                &nbsp; <i class="fab fa-medium"
                                    style="font-size:20px;color:#ffd000;">&nbsp;&nbsp;</i>Medium
                            </a>
                            <br>
                            <a href="https://discordapp.com/invite/xAPwaDC" target="_blank">
                                &nbsp; <i class="fab fa-discord"
                                    style="font-size:20px;color:#ffd000;">&nbsp;&nbsp;</i>Discord
                            </a>
                            <br>
                            <a href="https://t.me/ZEROxBTC" target="_blank">
                                &nbsp; <i class="fab fa-telegram-plane"
                                    style="font-size:20px;color:#ffd000;">&nbsp;&nbsp;</i>Telegram
                            </a>
                            <br>
                            <a href="https://www.reddit.com/r/0xbitcoin/" target="_blank">
                                &nbsp; <i class="fab fa-reddit"
                                    style="font-size:20px;color:#ffd000;">&nbsp;&nbsp;</i>Reddit
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <b>Community </b>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        
                            <a href="https://github.com/0xbitcoin" target="_blank">
                                &nbsp; <i class="fab fa-github"
                                    style="font-size:20px;color: #ffd000;"></i>&nbsp;&nbsp;Github
                            </a>
                            <br>
                            <a href="https://twitter.com/0xBTCFoundation" target="_blank">
                                &nbsp; <i class="fab fa-twitter"
                                    style="font-size:20px;color:#ffd000;"></i>&nbsp;&nbsp;Twitter
                            </a>
                            <br>
                            <a href="https://medium.com/0xBitcoinFoundation" target="_blank">
                                &nbsp; <i class="fab fa-medium"
                                    style="font-size:20px;color:#ffd000;">&nbsp;&nbsp;</i>Medium
                            </a>
                            <br>
                            <a href="https://discordapp.com/invite/xAPwaDC" target="_blank">
                                &nbsp; <i class="fab fa-discord"
                                    style="font-size:20px;color:#ffd000;">&nbsp;&nbsp;</i>Discord
                            </a>
                            <br>
                            <a href="https://t.me/ZEROxBTC" target="_blank">
                                &nbsp; <i class="fab fa-telegram-plane"
                                    style="font-size:20px;color:#ffd000;">&nbsp;&nbsp;</i>Telegram
                            </a>
                            <br>
                            <a href="https://www.reddit.com/r/0xbitcoin/" target="_blank">
                                &nbsp; <i class="fab fa-reddit"
                                    style="font-size:20px;color:#ffd000;">&nbsp;&nbsp;</i>Reddit
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="navbar-end" style="padding:5px;">
        
        
        
                </div>
                <!-- <a class="nav-item" href="https://0xbitcoin.trade/" target="_blank">
                    <img src="./../assets/img/uniswap.png" class="shadow hover-effects" style="border-radius: 50% "
                        height="50" width="50"></a> -->
        
        
            </div>
        </nav>

















